* {
    margin: 0;
    padding: 0;
}


.h4Stuff {
    color: blue;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.h5Stuff {
    color: rgb(132, 132, 161);
    border: 6px solid rgb(77, 199, 207);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}